<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <!-- Ezoic Code -->
      <script>var ezoicId = 263682;</script>
      <script type="text/javascript" src="//go.ezoic.net/ezoic/ezoic.js"></script>
  <!-- Ezoic Code -->

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <!-- Ezoic - under_page_title - under_page_title -->
      <div id="ezoic-pub-ad-placeholder-104"> </div>
      <!-- End Ezoic - under_page_title - under_page_title -->
      <div class="wrapper">
        {{ content }}
      </div>
      <!-- Ezoic - bottom_of_page - bottom_of_page -->
      <div id="ezoic-pub-ad-placeholder-102"> </div>
      <!-- End Ezoic - bottom_of_page - bottom_of_page -->
    </main>


    {% include footer.html %}

    <!-- Ezoic - sidebar_floating_1 - sidebar_floating_1 -->
    <div id="ezoic-pub-ad-placeholder-110"> </div>
    <!-- End Ezoic - sidebar_floating_1 - sidebar_floating_1 -->

  </body>

</html>
