---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  <p>
    Browse posts below to learn more about interacting with <a href="{{ site.binance_url }}" target="_blank">Binance</a>
    <a href="{{ site.kucoin_url }}" target="_blank">Kucoin</a> using python.
  </p>

  <!-- Ezoic - under_first_paragraph - under_first_paragraph -->
  <div id="ezoic-pub-ad-placeholder-101"> </div>
  <!-- End Ezoic - under_first_paragraph - under_first_paragraph -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
